.timer
{
	position:fixed;
        top:15px;
	right:5px;
	display:block;
	width:150px;
	height:35px;
	//padding-top:10px;
	//padding-bottom:15px;
	border:1px solid black;
	text-align:center;
	font-size:26px;
	vertical-align:center;
	background-color:#FFFFFF;
}
.question_display
{
	text-indent:25px;
	font-weight:bold;
}
body
{
	background-color:#A4D3EE
}

span , p , #opt
{
	background-color:#FFFFFF;
	margin-top:60px;
	display:block;
	padding-top:15px;
	height:100px;
	width:100%
	font-size:16px;
	font-weight:bold;
}
#result 
{
	background-color:#FFFFFF;
	margin-top:50px;
        margin-right:5px;
	display:none;
	padding-top:15px;
        position: fixed;
	height:300px;
	width:95%;
	font-size:16px;
	font-weight:bold;
}
#startbutton
{
	width:90px;
	margin-left:70px;
	padding:100px;
	size:40px;
	
}

#next
{
  color:white;
  background-color:blue;
  height:50px;
  width:100px;
  text-align:centre;
  vertical-align:center;
  
}
.footer
{
  position:fixed;
  bottom:75px;
  right:150px;
}
#score_tb
{
	margin-right: 150px;
	height:20px;
	width:50px;
	text-align:center;
}

#answer
{
	text-align:right;
}
#result_div
{
	display:none;
	overflow:auto;
	height:350px;
}
#result_table
{
	background-color:white;
	border-collapse:collapse;
}
#result_table tr td
{
	text-align:center;
	padding-bottom: 5px;
}
#result_table tr
{
	border-bottom:3px solid white;
	border-top:3px solid white;
}
